$th_brown: #845736;


body[data-theme="brown"] {
  a {
    color: #633d21;
  }

  .PostSummary__header {
    > h1 {
      > a:visited {
        color: #a99789;
      }
    }
  }

  .shareItems {
    li > a:hover {
      svg {
        fill: $th_brown;
      }
    }
  }

  .TagList__horizontal {
    a {
      background: #f5d29c;
      &:hover {
        background: #efc482;
      }
    }
  }

  .UserProfile__banner {
    text-align: center;
    color: $white;
    a {
      color: $white;
      font-size: 18px;
    }
    > div.column {
      background: linear-gradient(to bottom, #f3d5d9 0%, $th_brown 100%);
      background-image: url('../../assets/images/themes/brown/header-background.jpg');
      background-size: contain;
    }
  }

  .UserProfile__top-nav {
    background-color: $th_brown;
    .menu > li > a {
      color: $white;
      &:hover {
        background-color: #e17c06;
        color: $white;
      }
      &.active {
        color: $black;
      }
    }
  }

  .PostSummary {
    box-shadow: 0 0 10px rgba(93, 46, 3, 0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 7px;
  }
  .PostSummary:hover {
    box-shadow: 0 0 10px $th_brown;
  }

  .Voting__button--upvoted circle {
    fill: $th_brown;
    stroke: $th_brown;
  }

  .VotesAndComments {
    path {
      fill: $th_brown;
    }
  }

  @media screen and (min-width: 60rem) {
    .PostsList__post_overlay {
      background-color: rgba(247, 207, 181, 0.9);
    }
    .PostsList__post_container {
      box-shadow: 0 0 5px 0px #420505;
    }
  }
  .close-button {
    color: #420208;
  }

  input[type=button]:disabled,
  input[type=button].disabled, input[type=button].disabled:focus,
  input[type=submit].disabled, input[type=submit].disabled:focus {
    background-color: #994c1c;
  }

  form {
    .button {
      background-color: $th_brown;
    }
    .button:hover, .button:focus {
      background-color: #633b1f;
    }
    .button.hollow {
      color: $th_brown;
      border: 1px solid $th_brown;
    }
    .button.hollow.no-border {
      border: none;
    }
    .button.hollow, .button.hollow:hover, .button.hollow:focus {
      background-color: transparent;
    }
  }

  .button.hollow {
    color: $th_brown;
    border: 1px solid $th_brown;
  }

  .Feedback a:hover, .Feedback a:focus {
    height: 47px;
    color: $black;
  }

  .Topics {
    .button {
      background-color: $th_brown;
    }
  }
  .Topics__filter {
    background-color: #f7f2ed;
    color: $th_brown;
  }
  .Topics__filter__expand {
    background-color: #e8ddd2;
    &:hover {
      background-color: #ecd8c4;
    }
  }
  .Topics__title {
    color: $th_brown;
  }
  .PostsIndex__topics {
    border-left: 1px solid #c3b4a5;
  }

  .HorizontalMenu {
    .active > a {
      color: $th_brown;
    }
  }
  .ConfirmTransactionForm {
    .button {
      background-color: $th_brown;
    }
    .button.hollow {
      background-color: inherit;
    }
  }
  .Voting__adjust_weight .rangeslider .rangeslider__handle:active,
  .Voting__adjust_weight_down .rangeslider .rangeslider__handle:active,
  .Voting__adjust_weight .rangeslider-horizontal .rangeslider__fill,
  .Voting__adjust_weight_down .rangeslider-horizontal .rangeslider__fill {
    background-color: $th_brown;
  }
}